@model ProiectTaskManagement.Models.Entities.Task
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.TitluSelectUsers = "Task Team";
}

<style>
    body{
        background: rgb(45,152,218);
        background: linear-gradient(338deg, rgba(45,152,218,1) 32%, rgba(69,170,242,1) 78%);
    }
</style>

@if (ViewBag.MesajEroareEchipa != null)
{
        <div class="alert alert-danger my-danger-alert" role="alert">
        @ViewBag.MesajEroareEchipa <button onclick="this.parentElement.remove()" class="btn btn-close x-button"></button>
        </div>
}

<div class="formular-background"></div>
<h2 class="text-center mt-5">Edit Task @Model.Title of Project @ViewBag.ProjectTitle</h2>
<br />

<div class="formular container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Tasks",
            method: FormMethod.Post, new {@id="edit-task-form"}))
            {
                <input type="hidden" name="projectId" value="@ViewBag.ProjectId" />

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Title", "Task Title")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                <br />
                <br />

                @Html.Label("Description", "Task Description")
                <br />
                @Html.TextArea("Description", null, new {@class="summernote"})
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                <br />
                <br />

                <label>Select Status</label>
                <br />
                @Html.DropDownListFor(m => m.StatusId, new SelectList(Model.Statuses, "Value", "Text"), "(No Status)", new { @class = "form-control" })
                
                <br />
                <br />
                @Html.Label("StartDate", "Start Date")
                <br />
                <input class="form-control" asp-for="StartDate" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                <br />
                <br />

                @Html.Label("EndDate", "End Date")
                <br />
                <input class="form-control" asp-for="EndDate" asp-format="{0:yyyy-MM-ddTHH:mm}" />

                <br />
                <partial name="SelectUsers"/>

                <br />
                <br />

                <button class="btn btn-success" type="submit">Save Task</button>

                @Html.ActionLink("Back to Project", "Show", "Projects", new {@projectId=ViewBag.ProjectId}, new {@class="btn btn-primary"})
            }
            
        </div>
    </div>
</div>
